        <!DOCTYPE html>
      <html>
      <head>
        <title>Restaurant tables</title>
      </head>
      <body>
        <h1>Tables</h1>
      <ul>
        <% tables.forEach(tables => { %>
          <table>
            <%= tables.table_num %>
          </table>
        <% }) %>
      </ul>
      </body>
      </html>